{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
        <link rel="stylesheet" href="{% static '/css/estilos2.css' %}">
        <link rel="stylesheet" href="{% static '/css/font.css' %}">
        <link rel="stylesheet" href="{% static '/css/footer.css' %}">
        <link rel="stylesheet" href="{% static '/css/redes_sociales.css' %}">
        <link rel="stylesheet" href="{% static '/css/catalogo_anime.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">


{% block content %}

<body>

<div class="container mb-3 mt-3">

<form method="POST">{% csrf_token %}

    <div> 
    
    <h3>¿Desea eliminar el registro {{object.nombre}}?</h3><br>
    <button class = "btn btn-danger" type="submit">Si</button>
    <a class= "btn btn-default" href="{% url 'manga_list' %}">Cancelar</a> 
    
    </div>
 
</form>
<br><br><br><br><br><br><br><br><br><br><br><br>

</div>

</body>

{% endblock %}
