.logo {
    height: 50px;
    top: 20px;
}

.nav {
    background-color: #333;
}

.btn {
    text-transform: none;
    border-radius: 0px;
    color: #fff;
    background-color: rgb(125, 37, 207);
}

.btn:hover {
    background-color: rgb(32, 29, 29);
}

.container {
    width: 50%;
}

.sidenav {
    background-color: rgb(201, 76, 76);
    top: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/Logo/fondo.jpg) no-repeat fixed center center #333;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
}

.titulo {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 45px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: white;
    display: inline;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Dancing Script', cursive;
}

.creador {
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}


/*estilos materialize*/

.carousel {
    min-height: 480px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 300px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #c26189;
}