{% comment %} {% extends 'base.html' %}  {% endcomment %}
{% load static %}

{% block head %}

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/css/index.css' %}">
        <link rel="stylesheet" href="{% static '/css/formulario2.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">

        <!--JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
{% endblock  %}

{% block header %}
{% endblock %}

{% block content %}
<div class="content container">
    <h1 class="display">Registrate</h1><br>
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">GRABAR</button>
    </form>
    </div>

{% block javascript %} 
   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static '/js/funcion.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/validador.js' %}"></script>
{% endblock javascript %}



{% endblock %}

